.homeContainer {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
}

.panelsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 80%;
    background-color: whitesmoke;
}